---
layout: blog
---

<!-- THIS FILE IS JUST A DESIGN TEMPLATE, THE POSTS DATA ARE NOT DYNAMIC -->

<div class='full' style='background: #f5f5f5;'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='masonry-container'>
        {% for post in site.posts %}
        <div class='masonry mod modBlogPost popin appear'>
        {% if post.image %}
          <div class='images'>
            <div class='image'><a href="single.html"><img width="800" height="533" alt="" src="{{site.url}}/{{post.image}}" /></a></div>
          </div>
          {% endif %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="{{post.url}}">{{post.title}}</a></h4>
            <p>
              {{post.excerpt}}
            </p>
            <div class='tags'>
            {% for cat in post.categories %}
              <a href="#">{{cat}}</a>
              {% unless forloop.last %}
                      ,
                  {% endunless %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<div class='full no-padding' style='background: #111'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p>2017 Jess Hamilton. All rights reserved.</p>
    </div>
  </div>
  <div class='spacing'></div>
</div>
