---
layout: default
slides: 
  - bg: images/work/dssg/1poster.jpg
  - bg: images/work/dssg/id.jpg
  - bg: images/work/dssg/5field-maps.jpg
  - bg: images/work/dssg/3sidewalk-schema.jpg

---

<div class='mod modFullscreenSlider'>
  <div class='fullscreen_slideshow' data-autostop='off'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class="sequence-canvas">
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame centered-text {{style}}'>
          <h1>{{slide.title}}</h1>
          <p>{{slide.tagline}}</p>
          <div class='two spacing'></div>
          <div class='buttons-wrapper'>
            {% for button in slide.buttons %}
              <a class='button {{button.class}}' href='{{button.url}}'>{{button.text}}</a>
            {% endfor %}
          </div>
          {% if slide.videos %}
            <div class='video_image_touch' style='background-image: url({{slide.bg}});'></div>
            <div class='video_wrap'>
              <div class='overlay' style='background: #000000;opacity: 0.6;'></div>
              <video autoplay=' ' class='bg_video' loop=' ' muted=' ' preload='auto'>
                {% for video in slide.videos %}
                  <source src='{{video.url}}' type='video/{{video.type}}'>
                {% endfor %}
              </video>
            </div>
          {% else %}
            <div class='bg' style='background-image: url({{slide.bg}});'></div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!--<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for image in page.images %}
            <div class="slide">
              <img src="{{site.url}}/{{image}}" alt="">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>-->
  <div class='spacing'></div>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3>OpenSidewalks</h3>
      <p>
       This <a href="http://escience.washington.edu/meet-the-2016-data-science-for-social-good-fellows">Data Science for Social Good</a> project, seeks to make pedestrian ways, particularly sidewalks, first class members of an open data transportation network. The OpenStreetMap (OSM) project has made available extensive, user-contributed open data on transportation networks, providing the basis for many use cases and downstream activities, including rich analytics, travel route optimization, city planning, and disaster relief. Some footways have been annotated in OSM as independent routes. However, sidewalks in the built environment have generally been treated an addendum to streets.</p>

<p>As a result, sidewalks in OSM have spotty coverage and an unintuitive implementation. The current standard makes user contribution difficult and fails to serve many use cases, including the needs of people with limited mobility. This project proposes to jumpstart an effort to generate an OSM-based pedestrian network with global coverage.</p>

<p>This project has engaged the OpenStreetMap open source community in proposing and implementing a radical shift to a more human scale mapping standard.  In addition to curating and presenting a pedestrian schema which takes into account a range of abilities, our team is developing strategies to facilitate a more complete sidewalk map.  We have modified and developed tools, workshops and documentation materials to engage the mapping community as well as newcomers intersted in the project.</p>

      </p>
      <div class='spacing'></div>
      <a href='http://opensidewalks.com' target="_blank">OpenSidewalks Website</a>
      <a href='https://www.youtube.com/watch?v=mXp7fCL6CPw' target="_blank">OpenSidewalks Video</a>
    </div>
    <div class='large-4 columns'>
      <ul class='info'>
       <strong>Presentations:</strong>
          <ul>
          <li>OSM State of the Map US, July 2016
          <li>University of Chicago - Data Science for Social Good Conference, August 2016</li> 
          <li>AIA Seattle - Design For All, February 2017</li>
          <li>Global Cities Transportation Challenge, Portland, February 2017</li>
          <li>Puget Sound Regional Council, Seattle, May 2017</li>
          </ul>
          </li>
          <li></li>
          <li><br></li>
        <li>
          <strong>Related Press</strong>
          <ul>
<li><a href="https://tcat.cs.washington.edu/OpenSidewalkFactSheet">White House STEM Announcement</a></li>
<li><a href="http://crosscut.com/2017/02/seattles-hills-are-the-worst-heres-a-way-to-cope/">Crosscut</a></li>
<li><a href="https://techcrunch.com/2016/08/26/student-projects-leapfrog-governments-and-industry-in-data-science-for-social-good-program/">TechCrunch</a></li>
<li><a href="http://www.geekwire.com/2016/data-help-solve-seattles-transportation-challenges/">GeekWire</a></li>
          </ul>
          <li><br></li>
         <li>
         <strong>Project Support</strong>
         <ul>
           <li><a href="https://tcat.cs.washington.edu/">Taskar Center for Accessible Technology</a></li>
           <li><a href="http://escience.washington.edu/">UW eScience</a></li>
           <li><a href="http://urbanalytics.uw.edu">Urbanalytics Studio</a></li>
           <li><a href="http://urban.uw.edu/">Urban@UW</a></li>
           <li><a href="https://www.microsoft.com/">Microsoft</a></li>
           <li><a href="http://www.wrfseattle.org/">Washington Research Foundation</a></li>
           <li><a href="https://www.moore.org/">Gordon and Betty Moore Foundation</a></li>
           <li><a href="https://sloan.org/">Alfred P. Sloan Foundation</a></li>
         </ul>
         </li>
         <li><br></li>
         <li>
          <strong>Date:</strong>
          Summer 2016 - Present
        </li>
        <li>
          <div class='spacing'></div>
          <a href='urban.html' title='previous'>
            <i class='icon-left-open'></i>
          </a>
          <a href='index.html/#work' title='back to work list'>
            <i class='icon-layout'></i>
          </a>
          <a href='cambodia.html' title='next'>
            <i class='icon-right-open'></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div>



<div class='full no-padding' style='background: #111'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p>©2017 {{site.title}}. All rights reserved.</p>
    </div>
  </div>
  <div class='spacing'></div>
</div>